<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emika.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".data.EmikaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/id_emika_foreground"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/id_emika_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.ui.calendar.Inbox"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.profile.MemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.profile.AllMembersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.profile.ManageInvites"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.calendar.AddTaskActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.profile.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.ui.calendar.TaskInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.auth.AuthActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.StartActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>